
<h2 class="crearLibro-text">Crear nuevo libro</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

{{#if sinDatos}}

<p class="advertencia">No hay categorías, autores o editoriales creadas. Debe crear al menos una categoría, un autor y una editorial antes de poder crear un libro.</p>

<div class="botones">
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/libros">Volver</a>
</div>

{{else}}

<form action="/crearlibro" method="post">


<div class="mb-3 group-input">
  <label for="titulo-libro" class="form-label">Título del libro <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="titulo-libro" name="titulo" placeholder="Ej. Cien anos de soledad" required>
</div>

<div class="mb-3  group-input">
  <label for="ano-pulicacion" class="form-label">Año de publicación <span class="asterisco">*</span></label>
  <input type="number" class="form-control" id="ano-pulicacion" name="year" placeholder="Ej. 1967" required>
</div>

<div class="mb-3  group-input">
  <label for="url-img" class="form-label">URL de la imagen de portada <span class="asterisco">*</span></label>
  <input type="url" class="form-control" id="url-img" name="urlimagen" placeholder="https://..." required>
</div>

<div class="select">
    <label for="">Categoría <span class="asterisco">*</span></label>
    <select class="form-select" name="categoriaid" aria-label="Default select example" required>
  <option value="" selected disabled>Seleccione una categoría</option>
  {{#each categorias}}
  <option value="{{categoriaid}}">{{nombrecategoria}}</option>
  {{/each}}
</select>
</div>

<div class="select">
    <label for="">Autor <span class="asterisco">*</span></label>
    <select class="form-select" name="autorid" aria-label="Default select example" required>
  <option value="" selected disabled>Seleccione un autor</option>
  {{#each autores}}
  <option value="{{autorid}}">{{nombreautor}}</option>
  {{/each}}
</select>
</div>


<div class="select">
    <label for="">Editorial <span class="asterisco">*</span></label>
    <select class="form-select" name="editorialid" aria-label="Default select example" required>
  <option value="" selected disabled>Seleccione una editorial</option>
  {{#each editoriales}}
  <option value="{{editorialid}}">{{nombreeditorial}}</option>
  {{/each}}
</select>
</div>

<div class="botones">
    <button type="submit" class="btn btn-success btn-crarlibro" >Guardar libro</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/libros">Cancelar</a>

</div>


</form>

{{/if}}

</section>
