


<div class="text-libros-container">
    <h2 class="title-libros">Mantenimiento de Libros</h2>
<p class="p-libros">Gestión completa del catálogo bibliográfico.</p>
</div>

<div class="linea-libros"></div>


<section class="libros-container">
    <div class="head-libros">
        <p class="registros-libros"> {{cantidad}} registro(s)</p>
        <a type="button" class="btn btn-success btn-crearlibro" href="/crearlibro">+ Crear libro nuevo</a>

    </div>

   <table class="libros-tabla">
  <thead>
    <tr class="tr-th">
      <th>PORTADA</th>
      <th>TITULO</th>
      <th>Año</th>
      <th>CATEGORIA</th>
      <th>AUTOR</th>
      <th>EDITORIAL</th>
      <th>ACCIONES</th>
    </tr>
  </thead>

  <tbody>
    {{#each libros}}
    <tr>
      <td>
        <img class="img-libro" src="{{urlimagen}}" alt="">
      </td>
      <td>{{titulo}}</td>
      <td>{{year}}</td>
      <td><div class="category-libro-table">{{categoria.nombrecategoria}}</div></td>
      <td>{{autor.nombreautor}}</td>
      <td>{{editorial.nombreeditorial}}</td>
      <td class="contenedor-btn">
        <a type="button" class="btn btn-warning" href="/editarlibro/{{libroid}}">Editar</a>
        <button type="button" class="btn btn-danger eliminar-libro-btn" data-eliminar-url="/libros/eliminar/{{libroid}}" data-eliminar-nombre="{{titulo}}">Eliminar</button>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="7">No hay libros registrados.</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="eliminar-libro" id="eliminar-libro-card" hidden >

  
 <div class="text-card-eliminar-libro">
   <h3 class="pregunta">¿Eliminar este registro?</h3>
  <p class="p-pregunta">¿Está seguro que desea eliminar este libro?</p>
  <h4 class="nombre-libro" id="nombre-libro-seleccionado"></h4>
  <p class="advertencia">Esta acción no puede deshacerse.</p>

 </div>
  <div class="btns-eliminar-card">
    <button type="button" class="btn btn-secondary btn-eliminar-libro-card" id="btn-cancelar-libro-card">Cancelar</button>
    <form id="form-eliminar-libro" action="" method="post">
      <button type="submit" class="btn btn-danger btn-cancelar-libro-card" id="btn-eliminar-libro-card">Aceptar, eliminar</button>
    </form>

  </div>
</div>

</section>

