<div class="text-libros-container">
    <h2 class="title-libros">Mantenimiento de Autores</h2>
<p class="p-libros">Gestión completa de los autores del catálogo.</p>
</div>

<div class="linea-libros"></div>

<section class="libros-container">
    <div class="head-libros">
        <p class="registros-libros"> {{autores.length}} registro(s)</p>
        <a type="button" class="btn btn-success btn-crearlibro" href="/autores/crear">+ Crear autor nuevo</a>
    </div>

   <table class="libros-tabla">
  <thead>
    <tr class="tr-th">
      <th>NOMBRE</th>
      <th>CORREO</th>
      <th>LIBROS</th>
      <th>ACCIONES</th>
    </tr>
  </thead>

  <tbody>
    {{#each autores}}
    <tr>
      <td>{{nombreautor}}</td>
      <td>{{correoautor}}</td>
      <td>{{cantidadLibros}}</td>
      <td class="contenedor-btn">
        <a type="button" class="btn btn-warning" href="/autores/editar/{{autorid}}">Editar</a>
        <button type="button" class="btn btn-danger eliminar-autor-btn" data-eliminar-url="/autores/eliminar/{{autorid}}" data-eliminar-nombre="{{nombreautor}}">Eliminar</button>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="4">No hay autores registrados.</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="eliminar-libro" id="eliminar-autor-card" hidden >

 <div class="text-card-eliminar-libro">
   <h3 class="pregunta">¿Eliminar este registro?</h3>
  <p class="p-pregunta">¿Está seguro que desea eliminar este autor?</p>
  <h4 class="nombre-libro" id="nombre-autor-seleccionado"></h4>
  <p class="advertencia">Esta acción no puede deshacerse.</p>
 </div>
  <div class="btns-eliminar-card">
    <button type="button" class="btn btn-secondary btn-eliminar-libro-card" id="btn-cancelar-autor-card">Cancelar</button>
    <form id="form-eliminar-autor" action="" method="post">
      <button type="submit" class="btn btn-danger btn-cancelar-libro-card" id="btn-eliminar-autor-card">Aceptar, eliminar</button>
    </form>
  </div>
</div>

</section>
